<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  {% block nav %}{% endblock %}{% block body %}{% endblock %}
  <footer class="footer border-top mb-5">
    <div class="container p-3 d-flex mt-5">
        <h5>Разработчик:</h5>
            <div class="icons">
                  <a href="tg://resolve?domain=dav1dexe" target="_blank" class="text-decoration-none ml-4"><i class="fab fa-telegram"></i></a>
                  <a href="https://www.instagram.com/dav1dexe/" target="_blank" class="text-decoration-none ml-4 text-danger"><i class="fab fa-instagram"></i></a>
                  <a href="https://github.com/dav1dexe" target="_blank" class="text-decoration-none ml-4 text-dark"><i class="fab fa-github"></i></a>
                  <a href="https://vk.com/dav1dexe" target="_blank" class="text-decoration-none ml-4"><i class="fab fa-vk"></i></a>
                  <a href="https://www.facebook.com/dav1dexe" target="_blank" class="text-decoration-none ml-4"><i class="fab fa-facebook"></i></a>
            </div>
    </div>
  </footer>
</body>
</html>