{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block nav %}
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom box-shadow">
    <h3 class="my-0 mr-md-auto"><a href="{{ url_for('index')}}">Главная</a></h3>
    {% if not session['user']%}
    <div class="d-flex nav">
        <a class="btn btn-dark mr-3" href="{{ url_for('register')}}">Регистрация</a>
        <a class="btn btn-primary" href="{{ url_for('auth')}}">Авторизация</a>
    </div>
    {% else %}
    <div class="d-flex">
        <a class="btn btn-dark mr-3 profile" href="{{ url_for('profile')}}">Профиль {{ session.get('user').capitalize() }}</a>
    </div>
    {% endif %}
</header>
{% endblock %}

{% block body %}
    <div class="pt-md-5 pb-md-4 text-center border-bottom">
        <h1 class="display-4 font-weight-bold">Расписание дел</h1>
            <p class="lead pt-5 pb-5">
            Веб приложение, которое было написано на Python Flask для отслеживания списка своих дел
        </p>
    </div>
<div class="container">

    <div class="pt-md-5 pb-md-4 d-flex border-bottom div-text">
        <div>
            <h1 class="display-4 main-text">Как использовать</h1>
            <div class="mr-2">
                <p class="lead pt-5 pb-5 display-5 second-text">Для начала нужно будет зарегистрироваться. Если уже зарегистрированы, пройдите авторизацию</p>
            </div>
        </div>
        <video src="{{ url_for('static', filename='video/register.mp4') }}" autoplay muted loop type="video/mp4">></video>
    </div>

    <div class="pt-md-5 pb-md-5 d-flex border-bottom div-text">
        <div>
            <h1 class="display-4 main-text">Добавление записи</h1>
            <div class="mr-2">
                <p class="lead pt-5 pb-5 display-5 second-text">Чтобы добавить новую запись, вы должны войти в свой профиль</p>
            </div>
        </div>
        <video src="{{ url_for('static', filename='video/new_post.mp4') }}" autoplay muted loop type="video/mp4">></video>
    </div>

    <div class="pt-md-5 pb-md-4 text-left div-text">
        <h1 class="display-4 main-text">Появились вопросы?</h1>
        <p class="lead pt-5 pb-3 second-text">Свяжитесь с создателем</p>
    </div>
</div>
{% endblock %}
